.photo-slide{
white-space:nowrap;
overflow:hidden;
position:relative;
background-color:black;
}

.slide-film{
position:relative;
white-space:nowrap;
height:100%;
}

.photo-item{
display:inline-block;
vertical-align:middle;
}

.active{
}

.btn_prev{
position:absolute;
left:0;
top:47%;
padding:0.5vw;
background-color:#007de7;
font-weight:bolder;
}

.btn_next{
position:absolute;
right:0;
top:47%;
padding:0.5vw;
background-color:#007de7;
font-weight:bolder;
}

