body {
margin:0;
}

.gridcontainer {
display:grid;
}

.header {
grid-area:h;
width:100vw;
}

.topBar{
padding:20px;
box-shadow:0 2px 5px 5px #888888;
}

.dropdownMenu{
display:inline-block;
float:right;
}

.dropdownBtn{
display:none;
}

.list{
display:inline-block;
}

.list div{
display:inline-block;
color: black;
text-decoration:none;
padding:5px;
margin:5px;
}

.logo{
max-width:160px;
display:inline-block;
}

.img1{
width:100%;
}

.flexcontaier{
grid-area:f;
display:flex;
flex-wrap:wrap;
}




/* smart phones */
@media all and (min-width:0px) and (max-width: 768px){
.gridcontaier{

}

.drug{
width:40vw;
margin:5vw;
}

.drugPic{
width:100%;
padding:5px;
}

.img2{
width:100%;
}

}



/* tablets */
@media all and (min-width:769px) and (max-width:1279px){


}




/* */
@media all and (min-width:1280px){


}




