body{
margin:0;
height:100%;
width:100%;
color:white;
font-family: 'Alata';
background-image:url("Images/background.jpg");
background-position:center;
background-repeat:no-repeat;
background-size:cover;
scroll-behavior:smooth;
}


html{
overflow:hidden;
height:100%;
scroll-behavior:smooth;
}

header{
position:fixed;
width:100%;
top:0;
left:0;
z-index:50;
background-image:url("Images/background.jpg");
background-position:center;
background-repeat:no-repeat;
background-size:cover;
}

.hidden{
display:none;
}

#content_container{
white-space:nowrap;
height:100%;
width:100%;
overflow:hidden;
scroll-behavior:smooth;
}

.section{
display:inline-block;
height:100%;
width:100%;
overflow-y:auto;
white-space:normal;
}

.menu_item:hover{
color:#eeeeee;
}

#transit{
position:fixed;
width:100%;
height:100%;
background-color:#ffffff;
top:0;
display:none;
}

.transit_logo{
width:100vw;
height:50vw;
display:table-cell;
vertical-align:middle;
text-align:center;
}

.transit_logo_contaier{
width:40vw;
height:40vw;
}

@keyframes transit{
0% { display:none; }
30%{ display:block;}
70%{ display:block;}
100%{ display:none;}
}



/* smart phones */
@media all and (min-width:0px) and (max-width: 767px){

body{
font-size:3.75vw;
}

header{
}

#logo{
display:block;
width:100%;
margin:2.5vw 0 0 0;
}

#logo_pic{
display:block;
width:20vw;
margin:1vw auto 2vw auto;
}

#menu{
display:block;
font-size:2.4vw;
font-weight:bolder;
text-align:center;
}

#menu_list{
display:inline-block;
margin-top:1vw;
}

.menu_item{
cursor:pointer;
display:inline-block;
margin:0 5vw 0 5vw;
transition:0.1s;
}

.section{
padding-top:15vh;
height:85vh;
}

#ind1{
background-color:#007de7;
}

.page_indicator{
margin-top:0.4vw;
height:2px;
width:100%;
}

#slider{
display:inline-block;

}

#content_container{

}

#ridwan_alawode{

}

#cnt{
margin:5vw auto 0 auto;
width:80vw;
}

#ridwan{
width:40.9375vw;
display:block;
margin:0 auto 0 auto;
}

#ridwan_image{
width:100%;
}

#ridwan_short_info{
display:block;
width:80VW;
}

#ridwan_name{
width:80VW;
}

#ridwan_alawode_name{
width:100%;
}

#job{
margin-top:1vw;
font-size:4.0625VW;
font-weight:bold;
}

#job_descrpt{
margin-top:8vw;
font-size:3.75vw;
}

#buttons{
margin-top:9vw;
font-size:4.6875vw;
}

#hire_me{
display:inline-block;
width:37.5vw;
background-color:#ff0000;
text-align:center;
padding-top:1vw;
padding-bottom:1vw;
border-radius:4vw;
cursor:pointer;
border:solid 2px #ff0000;
}

#learn_more{
display:inline-block;
width:37.5vw;
border:solid 2px #ff0000;
text-align:center;
padding-top:1vw;
padding-bottom:1vw;
border-radius:4vw;
float:right;
cursor:pointer;
}

#my_works{}

#works_heading{
margin-top:0.5;
height:7.5vw;
}

#works_image{
display:block;
height:100%;
margin:0 auto 0 auto;
}

.works_item{
margin:0 auto 0 auto;
margin-top:3vw;
width:80vw;
overflow:auto;
}

.photo-slide{
width:95%;
height:70vw;
display:block;
margin:0 auto 0 auto;
border:solid 1px #007de7;
}

.work_info{
display:block;
margin:0 auto 0 auto;
width:65vw;
}

.work_name{
font-size:4.6875vw;
}

.work_link{
font-size:3.125vw;
}

.work_descript{
font-size:4.0625vw;
margin-top:3vw;
}


#about_me{}

#about_heading{
margin-top:0.5;
height:7.5vw;
}

#about_image{
display:block;
height:100%;
margin:0 auto 0 auto;
}

#bio{
width:80vw;
margin:3vw auto 0 auto;
}

#me_image{
display:block;
margin:0 auto 3vw auto;
width:30vw;
}

#skills{
width:80vw;
margin:5vw auto 0 auto;
}

#skill_heading{
font-size:4.6875vw;
font-weight:bold;
color:#007de7;
}

ul{
display:inline-block;
font-size:3.4375w;
}

#skill_list2{
margin-left:5vw;
}

li{
margin:2vw 0 2vw 0;
}

#certificates{
width:80vw;
margin:5vw auto 0 auto;
}

#certificate_header{
font-size:4.6875vw;
font-weight:bold;
color:#007de7;
}

.certificate{
margin:3vw auto 0 auto;
width:75vw;
}

.certificate_image{
width:100%;
}

.cert_pic{
width:100%;
}

.certificate_descript{
font-size:4vw;
text-align:center;
}


#contacts{}


.contact{
margin:5vw auto 0 auto;
width:75vw;
}

.contact_image{
width:8vw;
display:table-cell;
vertical-align:midddle;
}

.contact_img{
width:100%;
}

.contact_info{
display:table-cell;
vertical-align:middle;
font-size:4vw;
padding-right:4vw;
}

#social{
position:fixed;
right:2vw;
top:35vh;
}

#hire_button{
height:5vw;
background-color:#ff0000;
border-radius:2.5vw;
}

.hire_img{
display:inline-block;
height:5vw;
cursor:pointer;
float:right;
}

#cta{
display:none;
line-height:5vw;
font-size:3vw;
font-weight:bold;
width:15vw;
height:5vw;
text-align:center;
cursor:pointer;
float:right;
overflow:hidden;
}



#hire_pic{
height:100%;
}

.socials{
height:5vw;
margin-top:5vw;
cursor:pointer;
}

.social_pic{
height:100%;
float:right;
}

}








/* */
@media all and (min-width:768px){

body{
font-size:1vw;
}

header{
}

.section{
padding-top:15vh;
height:85vh;
}

#logo{
display:inline-block;
width:9.53125vw;
margin:2.5vw 0 0 3.515625vw;
}

#logo_pic{
width:100%;
}

#menu{
display:inline-block;
float:right;
font-size:0.78128vw;
font-weight:bold;
}

#menu_list{
margin-top:3.625vw;
}

.menu_item{
cursor:pointer;
display:inline-block;
margin:0 2.1484375vw 0 2.1484375vw;
}

#ind1{
background-color:#007de7;
}

.page_indicator{
margin-top:0.4vw;
height:2px;
width:100%;
}

#slider{
display:inline-block;

}

#content_container{

}

#ridwan_alawode{

}

#cnt{
margin:10vw auto 0 auto;
width:62.1875vw;
}

#ridwan{
width:25.78125vw;
display:inline-block;
}

#ridwan_image{
width:100%;
}

#ridwan_short_info{
display:inline-block;
float:right;
width:32.03125vw;
}

#ridwan_name{
width:32.03125vw;
}

#ridwan_alawode_name{
width:100%
}

#job{
margin-top:1vw;
font-size:1.953125vw;
font-weight:bold;
}

#job_descrpt{
margin-top:4vw;
font-size:1.5625vw;
}

#buttons{
margin-top:5.9vw;
font-size:1.21875vw;
}

#hire_me{
display:inline-block;
width:13.296875vw;
background-color:#ff0000;
text-align:center;
padding-top:0.5vw;
padding-bottom:0.5vw;
border-radius:1.109375vw;
cursor:pointer;
border:solid 2px #ff0000;
}

#learn_more{
display:inline-block;
width:13.296875vw;
border:solid 2px #ff0000;
text-align:center;
padding-top:0.5vw;
padding-bottom:0.5vw;
border-radius:1.109375vw;
float:right;
cursor:pointer;
}

#my_works{}

#works_heading{
margin-top:2vw;
height:3.28125vw;
}

#works_image{
display:block;
height:100%;
margin:0 auto 0 auto;
}

.works_item{
margin-left:5.078125vw;
margin-top:3vw;
width:88vw;
overflow:auto;
}

.photo-slide{
width:25vw;
height:20vw;
display:inline-block;
float:left;
}

.work_info{
display:inline-block;
margin-left:3vw;
width:55vw;
}

.work_name{
font-size:1.953125vw;
}

.work_link{
font-size:1.015625vw;
}

.work_descript{
font-size:1.171875vw;
margin-top:3vw;
}


#about_me{}

#about_heading{
margin-top:2vw;
height:3.28125vw;
}

#about_image{
display:block;
height:100%;
margin:0 auto 0 auto;
}

#bio{
width:55vw;
margin:3vw auto 0 auto;
}

#me_image{
display:block;
margin:0 auto 3vw auto;
width:12vw;
}

#skills{
width:55vw;
margin:3vw auto 0 auto;
}

#skill_heading{
font-size:2vw;
font-weight:bold;
color:#007de7;
}

ul{
display:inline-block;
font-size:1.25vw;
}

#skill_list2{
margin-left:5vw;
}

li{
margin:2vw 0 2vw 0;
}

#certificates{
width:55vw;
margin:3vw auto 0 auto;
}

#certificate_header{
font-size:2vw;
font-weight:bold;
color:#007de7;
}

.certificate{
margin:3vw auto 0 auto;
width:50vw;
}

.certificate_image{
width:100%;
}

.cert_pic{
width:100%;
}

.certificate_descript{
font-size:1.3vw;
}


#contacts{}


.contact{
margin:3vw auto 0 auto;
width:30vw;
}

.contact_image{
width:4vw;
display:table-cell;
vertical-align:midddle;
}

.contact_img{
width:100%;
}

.contact_info{
display:table-cell;
vertical-align:middle;
font-size:1.5vw;
margin-right:4vw;
}

#social{
position:fixed;
right:2vw;
top:35vh;
}

#hire_button{
height:2vw;
background-color:#ff0000;
border-radius:1vw;
}

.hire_img{
display:inline-block;
height:2vw;
cursor:pointer;
float:right;
}

#cta{
display:none;
line-height:2vw;
font-size:0.85vw;
font-weight:bold;
width:4vw;
height:2vw;
text-align:center;
cursor:pointer;
float:right;
overflow:hidden;
}



#hire_pic{
height:100%;
}

.socials{
height:2vw;
margin-top:2vw;
cursor:pointer;
transition:0.1s;
}

.socials:hover{
height:2.2vw;
}

.social_pic{
height:100%;
float:right;
}

body { font-family: sans-serif; }




}
